.products-grid,
.product-card,
.product-image-wrapper,
.product-details,
.product-details .dual-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-selling-section {
    width: 100%;
    /* background-color: lightblue; */
    padding: 4vh 0vw;
    text-align: center;
    /* font-size: 20px; */
    /* font-weight: 100; */
    font-family: "Roboto", serif;
}

.best-selling-section .product-container {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f7f7f7;
    /* background-color: red; */

}

.best-selling-section .product-container h2 {
    font-size: 30px;
    padding: 30px 0 0 0;
    font-weight: 700;
}

.best-selling-section .products-grid {
    flex-wrap: wrap;
    gap: 5%;
    padding: 0 30px;
}

.best-selling-section .product-card {
    width: 240px;
    height: 370px;
    margin: 30px 0;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.best-selling-section .product-image-wrapper {
    width: 100%;
    height: 65%;
    border-radius: 10px;
    background-color: #e1e1e1;
}

.best-selling-section img {
    width: 150px;
}

.best-selling-section .product-card:nth-child(2) .img {
    width: 190px;
}

.best-selling-section .product-image-wrapper .add-to-cart-icon {
    width: 40px;
    position: absolute;
    top: -10px;
    right: -10px;
    /* transform: translate(-50%, -50%); */
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.best-selling-section .product-image-wrapper .add-to-cart-icon:hover {
    animation: spinAndScale 1s ease-in-out;
    /* background-color: #ff6600; */
}

@keyframes spinAndScale {
    0% {
        transform: scale(1) rotate(0deg);

    }

    25% {
        background-color: rgb(51, 51, 51);
    }

    50% {
        transform: scale(1.2) rotate(180deg);
        background-color: rgb(51, 51, 51);
    }

    75% {
        background-color: rgb(51, 51, 51);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

.best-selling-section .product-details {
    width: 100%;
    height: 35%;
    flex-direction: column;
}

.best-selling-section .product-details h3 {
    font-weight: 500;
    /* font-variant: normal; */
    /* font-variation-settings: normal; */
    text-transform: capitalize;
}

.best-selling-section .product-details .product-price {
    margin: 10px;
}

.best-selling-section .product-details .dual-price {
    width: 50%;
    justify-content: space-around;
}

.best-selling-section .product-details .dual-price .original-price {
    color: #b1b1b1;
    text-decoration: line-through;
}

.best-selling-section .product-card a {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    background-color: black;
}

.best-selling-section .product-card:nth-child(2) .bsp-img {
    width: 190px;
    /* background-color: red; */
}


.best-selling-section .product-card:nth-child(1) .tp-img {
    width: 190px;
}

.best-selling-section .product-card:nth-child(2) .tp-img {
    width: 205px;
    /* background-color: red; */
}

.best-selling-section .product-card:nth-child(3) .tp-img {
    width: 150px;
}

.best-selling-section .product-card:nth-child(4) .tp-img {
    width: 190px;
}

.best-selling-section .product-card:nth-child(5) .tp-img {
    width: 150px;
}

.best-selling-section .product-card:nth-child(6) .tp-img {
    width: 200px;
}

.best-selling-section .product-card:nth-child(7) .tp-img {
    width: 150px;
}

.best-selling-section .product-card:nth-child(8) .tp-img {
    width: 200px;
}

.best-selling-section .product-card:nth-child(9) .tp-img {
    width: 190px;
}

.best-selling-section .product-card:nth-child(10) .tp-img {
    width: 190px;
}

.best-selling-section .product-card:nth-child(11) .tp-img {
    width: 130px;
}

.best-selling-section .product-card:nth-child(12) .tp-img {
    width: 170px;
}



@media (max-width: 450px) {

    .best-selling-section .product-card {
        width: 270px;
        height: 390px;
    }
}

@media (max-width: 450px) {
    .best-selling-section {
        /* background-color: lightblue; */
        padding: 20px 10px;
    }

    .best-selling-section .product-card {
        width: 280px;
        height: 400px;
    }
}