.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}

.hero-data-style-2 {
    width: 700px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
}

.LOOKBEAUTIFUL {
    font-size: 40px;
    font-family: "Goldman", serif;

}

.THISSEASON {
    width: 550px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    font-size: 70px;
    margin: -2px 0 -5px 0;
    font-weight: 400;
    font-style: normal;
    /* font-family: "Roboto", serif; */
    /* font-family: "Kablammo", serif; */
    font-family: "Monoton", serif;
}

.THEPERFECTCHOICE {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Goldman", serif;
}

.animated-season {
    position: absolute;
    /* top: 0px; */
    left: 200px;
    /* transform: translate(-50%, -50%); */
}



.all_button a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    position: relative;
    background-color: #c8e5ff;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 5px;
    /* font-family: "Monoton", serif; */
    /* font-family: "Goldman", serif; */
    font-family: "Roboto", serif;
}

.all_button a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.all_button a:hover {
    color: black;
}

.all_button a:hover::before {
    transform: translateX(0);
}

.all_button .gollden {
    background-color: rgb(240, 218, 179);
}

.all_button .gollden::before {
    background-color: white;
}

.all_button .gollden:hover {
    color: black;
    /* color: #aec5c4; */
    /* color: #d3c0a7; */
    /* color: #574d45; */
}

.hero-button .gollden {
    margin: 0 0 0 30px;
}

.animated-season {
    background: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #90a8e8, #8ab5eb, #8bc1ec, #9cd2ec, #b6e1ed, #d3eef1, #f2fbfa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 800px) {
    .hero-data-style-2 {
        width: 85%;
        height: 75vh;
    }

    .THISSEASON {
        font-size: 50px;
        width: 420px;
    }

    .animated-season {
        left: 150px;
    }

}


@media (max-width: 600px) {
    .hero {
        height: 370px;
    }

    .hero-image {
        width: 100%;
        height: 100%;
    }

    .hero-data-style-2 {
        width: 85%;
        height: 370px;
    }

    .LOOKBEAUTIFUL {
        font-size: 25px;
    }

    .THISSEASON {
        width: 330px;
        font-size: 40px;
        margin: 3px 0;
    }

    .animated-season {
        left: 120px;
    }

    .THEPERFECTCHOICE {
        font-size: 25px;
    }

    .all_button a {
        font-size: 13px;
        padding: 10px 20px;
    }


}

@media (max-width: 420px) {

    .LOOKBEAUTIFUL {
        font-size: 22px;
    }

    .THISSEASON {
        width: 240px;
        font-size: 30px;
        margin: 25px 0;
    }

    .static-this {
        position: absolute;
        left: 2px;
    }

    .animated-season {
        left: 90px;
    }

    .THEPERFECTCHOICE {
        font-size: 22px;
        flex-direction: column;
    }
}