.sign {
    height: 100vh;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/dddepth-240.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", serif;

}

.sign_google {
    width: 360px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.235);
    position: relative;
    color: white;
}

.sign-up {
    width: 100%;
    text-align: center;
    /* background-color: lightblue; */
    margin-bottom: 7px;
    font-family: "Monoton", serif;
    font-family: "Cherry Bomb One", system-ui;

    font-weight: 100;
    color: black;
}

.sign form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: lightgreen; */
}

form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1.4px solid lightgray;
}

.sign form .forget_password {
    width: 100%;
    /* background-color: red; */
    font-size: 12px;
    text-align: end;
}

.sign form .forget_password a {
    /* padding: 10px; */
    margin: 0px 5px 0px 0;
    color: whitesmoke;

}

form button {
    height: 45px;
    background-color: black;
    color: white;
    border: none;
    /* margin-bottom: 10px; */
}

.google-btn {}

.google-btn,
form button {
    width: 100%;
    margin-top: 7px;
    font-size: 13px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 13px;
}

.input-unhide {
    width: 100%;
    position: relative;
}

.input-unhide span {
    position: absolute;
    right: 10%;
    bottom: 5%;
    transform: translateY(-50%);
    cursor: pointer;
}

.signup-link {
    text-align: start;
    font-size: 12px;

}

.signup-link a {
    color: lightblue;
}

.sign .hr_or_hr {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0 12px 0;
}

.sign .hr_or_hr p {
    font-size: 13px;
}

.sign .hr {
    width: 40%;
    height: 1px;
    background-color: white;
}

.google-btn {
    /* width: 320px; */
    height: 45px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn img {
    width: 20px;
    margin: 0 10px 0 0;
}

.errorndsucc {
    width: 320px;
    /* min-height: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: absolute;
    top: -45px;
    left: 0;
    transform: translate(20px, -0%);
}

.err,
.suc {
    margin: 0;
    padding: 0;
    opacity: 0;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 10px;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.err {
    background-color: lightcoral;
}

.suc {
    background-color: lightgreen;
}

@media (max-width: 400px) {
    .sign_google {
        width: 90%;
    }

    .errorndsucc {
        width: 70vw;
        top: -45px;
        left: 0;
        transform: translate(13%, 0%);
    }
}

/* @media (max-width: 500px) {
    form input {
        width: 80vw;
    }
}

@media (max-width: 500px) {
    form input {
        width: 90vw;
    }
} */