.slidemenu {
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -400px;
    /* Initially hidden */
    background: white;
    transition: left 0.3s ease-in-out;
}

.slidemenu.open {
    left: 0;
}