




.product-view-frame {
    display: flex;
    /* min-height: 100vh; */
}

.product-images {
    width: 50%;
    height: 100vh;
    background-color: #3498db;
    color: white;
    padding: 20px;
    position: sticky;
    top: 10%;
}

.product-data {
    width: 50%;
    background-color: #ecf0f1;
    padding: 20px;
    overflow: auto;
}